<div class="container">
  <%= link_to articles_path do %>
    <div class="blog">blog</div>
  <% end %>
  <%= link_to "#privacy" do %>
    <div class="portfolio">portfolio</div>
  <% end %>
  <%= link_to "#privacy" do %>
    <div class="game-port">game stuff</div>
  <% end %>
  <%= link_to "#privacy" do %>
    <div class="contact">contact</div>
  <% end %>
</div>