<div class="main-container">
  <%= link_to articles_path do %>
    <div class="blog">blog</div>
  <% end %>
  <%= link_to portfolio_page_path do %>
    <div class="portfolio">portfolio</div>
  <% end %>
  <br style="clear: left;" />
  <%= link_to "#privacy" do %>
    <div class="game-port">game stuff</div>
  <% end %>
  <%= link_to "#privacy" do %>
    <div class="contact">contact</div>
  <% end %>
  <br style="clear: left;" />
</div>