<div class="main-container">
  <%= link_to articles_path do %>
    <div class="port-1">something</div>
  <% end %>
  <%= link_to "#privacy" do %>
    <div class="port-2">something</div>
  <% end %>
  <br style="clear: left;" />
  <%= link_to "#privacy" do %>
    <div class="port-3">something</div>
  <% end %>
  <%= link_to "#privacy" do %>
    <div class="port-4">something</div>
  <% end %>
  <br style="clear: left;" />
</div>