* {
  border: 1px solid black;
}

body {
  /*background-image:url('bg1940.jpg');*/
  color: white;
  background-color: #639DCD;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 2px;
}

/*A LINK STUFF*/
a {
  text-decoration: none;
}
a:link {
  color: #EFF;
}
a:visited {
  color: #FFF;
}
a:hover {
  color: #EEE;
}
a:active {
  color: #DDD;
}

.logo {
  margin: 6px;
  font-size: 3em;
}

.logo a:hover {
  color: #EFF;
}

.navbar {
  margin-left: 6px;
  margin-right: 6px;
}

.container {
  margin: 40px;
  border: black solid 1px;
}

/*FRONT PAGE NAV STUFF*/
/*#################################*/
.blog, .portfolio, .game-port, .contact {
  margin: 10px;
  border: #FFF solid 1px;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  width: 150px;
  height: 150px;
  line-height: 150px;
}
.blog:hover, .portfolio:hover, .game-port:hover, .contact:hover {
  color: white;
  background-color:rgba(255,255,255,0.2);
}
.blog {
}
.portfolio {
}
.game-port {

}
.contact {

}
/*#################################*/

.post {
  padding: 2px;
  font-family: "Times New Roman", Times, serif;
}
.post-title {
  font-size: 25px;
}

.post-credits {
  margin: auto;
  font-size: 11px;
  margin-bottom: 20px;
}

.post-date {
  float: left;
  margin-top: 1px;
  margin-right: 5px;
  font-size: 10px;
  color: gray;
}

.post-user {
}

